<form action="/records" method="post" id="new_record">
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-auto">
        <label for="record_name">
          <h2>名稱*：</h2>
        </label>
      </div>
      <div class="col-3">
        <input type="text" name="name" value="{{record.name}}" id="record_name" required>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <label for="record_date">
          <h2>日期*：</h2>
        </label>
      </div>
      <div class="col-3">
        <input type="date" name="date" value="{{record.date}}" id="record_date" required>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <label for="record_category">
          <h2>類別*：</h2>
        </label>
      </div>
      <div class="col-3">
        <select name="categoryId" value="{{record.categoryId}}" id="record_category" required>
          {{#each categories as |alias|}}
          <option value="{{this._id}}">{{this.name}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <label for="record_amount">
          <h2>金額*：</h2>
        </label>
      </div>
      <div class="col-3">
        <input type="number" name="amount" value="{{record.amount}}" id="record_amount" min="0" step="1" required>
      </div>
    </div>
    <div class="row justify-content-center m-2">
      <div class="col-2"><button type="submit" class="btn btn-success">儲存變更</button></div>
    </div>
  </div>
</form>