<!-- search bar -->
<div class="container justify-content-center mt-3">
    <div class="row justify-content-center mb-3">
      <div class="col-1 dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          篩選類別
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">家用</a></li>
          <li><a class="dropdown-item" href="#">其他</a></li>
          <li><a class="dropdown-item" href="#">娛樂</a></li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center"><div class="col-3"><h1>總金額: {{totalAmount}}</h1></div></div>
</div>

<!-- record list -->
<div class="container mt-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">類別</th>
        <th scope="col">項目</th>
        <th scope="col">支出金額</th>
        <th scope="col">修改或刪除</th>
      </tr>
    </thead>
    <tbody>
      {{#each records as |alias|}}
      <tr>
        <td>{{this.categoryId}}</td>
        <td>
          <div>{{this.name}}</div>
          <div>{{this.date}}</div>
        </td>
        <td>{{this.amount}}</td>
        <td>
          <a href="/records/{{this._id}}/edit" class="btn btn-outline-primary m-1">編輯</a>
          <form action="/records/{{this._id}}?_method=DELETE" method="post" style="display: inline;" class="m-1">
            <button type="submit" class="btn btn-outline-danger">刪除</button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <div class="row justify-content-center">
    <a class="col-2 btn btn-outline-success" href="/records/new">新增支出</a>
  </div>
</div>